//General parameters for nextflow execution:
process.executor = "slurm"
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:
//Directory for final outputs:
params.batch_name = "HGDP_part1-3"
params.output_prefix = "/gpfs/gibbs/pi/tucci/pfr8/Friedlaender/FullDepthBatches"
params.output_dir = "${params.output_prefix}/${params.batch_name}_recall_bams"

//Glob for the input BAMs:
params.bam_glob = "${params.output_dir}/BQSR_BAMs/*_MD_IR_recal.bam"
//Regex for parsing the sample ID out of the input BAM:
params.bam_regex = ~/^(\p{Alnum}+)_MD_IR_recal$/

//Path to sample metadata file including PCR/PCR-free type:
params.metadata_file = "${params.output_dir}/${params.batch_name}_recall_metadata.tsv"

//Optionally skip the dedup step (default: don't skip):
params.skip_dedup = false

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.batch_name}_recall_bams_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   hs37d5 {
      params.ref_prefix = "/gpfs/gibbs/pi/tucci/pfr8/refs"
      params.ref = "${params.ref_prefix}/1kGP/hs37d5/hs37d5.fa"
      //List of chromosomes to use
      params.autosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
      params.sexchroms = "X,Y"
      //File of file names for scattering interval BED files for HC:
      params.scatteredHC_bed_fofn = "${params.ref_prefix}/1kGP/hs37d5/scatter_intervals/hs37d5_thresh_100Mbp_noEBV_nodecoy_sexsep_scattered_BEDs.fofn"
      //dbSNP for GATK ValidateVariants:
      params.dbsnp = "${params.ref_prefix}/Broad/b37/dbsnp_138.b37.vcf"
   }

   farnam {
      params.mod_samtools = "samtools/1.10-96-gcc4e1a6"
      params.mod_picard = "picard/2.24.0"
      params.mod_gatk4 = "GATK/4.1.8.1-Java-1.8"
      params.mod_R = "R/3.6.1-foss-2018b"
      params.mod_dedup = "dedupmergedbams/0.1.4"
      process.queue = 'pi_tucci,general'
   }

   ruddle {
      params.mod_samtools = "samtools/af811a6"
      params.mod_picard = "picard/2.24.0"
      params.mod_gatk4 = "GATK/4.1.8.1-Java-1.8"
      params.mod_R = "R/3.6.1-foss-2018b"
      params.mod_dedup = "dedupmergedbams/0.1.4"
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//dedup_merged_bams:
//Adds 1 GiB for overhead automatically
params.dedup_cpus = 1
params.dedup_mem = 8
params.dedup_timeout = '24h'
//Genetic sex determination:
//Memory in MiB
//Adds 256 MiB for overhead automatically
params.sex_cpus = 1
params.sex_mem = 768
params.sex_timeout = '12h'
//HaplotypeCaller:
//Adds 1 GiB for overhead automatically
//Retries adding 8 GiB if needed
params.hc_cpus = 4
params.hc_mem = 16
params.hc_timeout = '12h'
//MergeGvcfs:
//Adds 1 GiB for overhead automatically
//Retries adding 4 GiB if needed
params.gvcf_merge_cpus = 1
params.gvcf_merge_mem = 12
params.gvcf_merge_timeout = '12h'
//ValidateVariants:
//Adds 1 GiB for overhead automatically
params.gvcf_check_cpus = 1
params.gvcf_check_mem = 1
params.gvcf_check_timeout = '12h'

